<!DOCTYPE html>
<html lang="en">
<head>
	<!--
		Charisma v1.0.0

		Copyright 2012 Muhammad Usman
		Licensed under the Apache License v2.0
		http://www.apache.org/licenses/LICENSE-2.0

		http://usman.it
		http://twitter.com/halalit_usman
	-->
	<meta charset="utf-8">
	<title>@ViewBag.Title - 羊客管理系统</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Charisma, a fully featured, responsive, HTML5, Bootstrap admin template.">
	<meta name="author" content="Muhammad Usman">

	<!-- The styles -->
	@*<link id="bs-css" href="/Content/houtai/bootstrap-cerulean.css" rel="stylesheet">*@
	
	@Styles.Render("~/Content/houtai/css")
    <style type="text/css">
        body {
            padding-bottom: 40px;
        }

        .sidebar-nav {
            padding: 9px 0;
        }
    </style>
    

	<!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
	  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- The fav icon -->
	<link rel="shortcut icon" href="/images/houtai/favicon.ico">
		
</head>

<body>
    <div class="navbar">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".top-nav.nav-collapse,.sidebar-nav.nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="brand" href="index.html"> <img alt="Charisma Logo" src="/images/houtai/logo_20.jpg" /> <span>羊客管理后台</span></a>


                <!-- theme selector ends -->
                <!-- user dropdown starts -->
                <div class="btn-group pull-right">
                    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="icon-user"></i><span class="hidden-phone"> admin</span>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        @*<li><a href="#">Profile</a></li>
                        <li class="divider"></li>*@
                        <li><a href="/Account/BackstageLogOff">退出</a></li>
                    </ul>
                </div>
                <!-- user dropdown ends -->


            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row-fluid">
            <!-- topbar starts -->
            @Html.Partial("_LeftMenu")
            <!-- topbar ends -->
            <noscript>
                <div class="alert alert-block span10">
                    <h4 class="alert-heading">Warning!</h4>
                    <p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a> enabled to use this site.</p>
                </div>
            </noscript>

            @RenderBody()

        </div>
            <hr>

            <div class="modal hide fade" id="myModal">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h3>Settings</h3>
                </div>
                <div class="modal-body">
                    <p>Here settings can be configured...</p>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn" data-dismiss="modal">Close</a>
                    <a href="#" class="btn btn-primary">Save changes</a>
                </div>
            </div>

            <footer>
                <p class="pull-left">&copy; <a href="#" target="_blank">羊客</a> 2015</p>
                <p class="pull-right">Powered by: <a href="#">羊客</a></p>
            </footer>

        </div><!--/.fluid-container-->

    <!-- jQuery -->
    <script src="/Scripts/houtai/jquery-1.7.2.min.js"></script>
    <!-- jQuery UI -->
    <script src="/Scripts/houtai/jquery-ui-1.8.21.custom.min.js"></script>
    <!-- transition / effect library -->
    <script src="/Scripts/houtai/bootstrap-transition.js"></script>
    <!-- alert enhancer library -->
    <script src="/Scripts/houtai/bootstrap-alert.js"></script>
    <!-- modal / dialog library -->
    <script src="/Scripts/houtai/bootstrap-modal.js"></script>
    <!-- custom dropdown library -->
    <script src="/Scripts/houtai/bootstrap-dropdown.js"></script>
    <!-- scrolspy library -->
    <script src="/Scripts/houtai/bootstrap-scrollspy.js"></script>
    <!-- library for creating tabs -->
    <script src="/Scripts/houtai/bootstrap-tab.js"></script>
    <!-- library for advanced tooltip -->
    <script src="/Scripts/houtai/bootstrap-tooltip.js"></script>
    <!-- popover effect library -->
    <script src="/Scripts/houtai/bootstrap-popover.js"></script>
    <!-- button enhancer library -->
    <script src="/Scripts/houtai/bootstrap-button.js"></script>
    <!-- accordion library (optional, not used in demo) -->
    <script src="/Scripts/houtai/bootstrap-collapse.js"></script>
    <!-- carousel slideshow library (optional, not used in demo) -->
    <script src="/Scripts/houtai/bootstrap-carousel.js"></script>
    <!-- autocomplete library -->
    <script src="/Scripts/houtai/bootstrap-typeahead.js"></script>
    <!-- tour library -->
    <script src="/Scripts/houtai/bootstrap-tour.js"></script>
    <!-- library for cookie management -->
    <script src="/Scripts/houtai/jquery.cookie.js"></script>
    <!-- calander plugin -->
    <script src="/Scripts/houtai/fullcalendar.min.js"></script>
    <!-- data table plugin -->
    <script src="/Scripts/houtai/jquery.dataTables.min.js"></script>

    <!-- chart libraries start -->
    <script src="/Scripts/houtai/excanvas.js"></script>
    <script src="/Scripts/houtai/jquery.flot.min.js"></script>
    <script src="/Scripts/houtai/jquery.flot.pie.min.js"></script>
    <script src="/Scripts/houtai/jquery.flot.stack.js"></script>
    <script src="/Scripts/houtai/jquery.flot.resize.min.js"></script>
    <!-- chart libraries end -->
    <!-- select or dropdown enhancer -->
    <script src="/Scripts/houtai/jquery.chosen.min.js"></script>
    <!-- checkbox, radio, and file input styler -->
    <script src="/Scripts/houtai/jquery.uniform.min.js"></script>
    <!-- plugin for gallery image view -->
    <script src="/Scripts/houtai/jquery.colorbox.min.js"></script>
    <!-- rich text editor library -->
    <script src="/Scripts/houtai/jquery.cleditor.min.js"></script>
    <!-- notification plugin -->
    <script src="/Scripts/houtai/jquery.noty.js"></script>
    <!-- file manager library -->
    <script src="/Scripts/houtai/jquery.elfinder.min.js"></script>
    <!-- star rating plugin -->
    <script src="/Scripts/houtai/jquery.raty.min.js"></script>
    <!-- for iOS style toggle switch -->
    <script src="/Scripts/houtai/jquery.iphone.toggle.js"></script>
    <!-- autogrowing textarea plugin -->
    <script src="/Scripts/houtai/jquery.autogrow-textarea.js"></script>
    <!-- multiple file upload plugin -->
    <script src="/Scripts/houtai/jquery.uploadify-3.1.min.js"></script>
    <!-- history.js for cross-browser state change on ajax -->
    <script src="/Scripts/houtai/jquery.history.js"></script>
    <!-- application script for Charisma demo -->
    <script src="/Scripts/houtai/charisma.js"></script>
    <script src="/Scripts/houtai/jquery.pager.js"></script>

    <!--knockout script -->
    <script src="~/Scripts/knockout-3.3.0.js"></script>
    @RenderSection("scripts", required: false)


</body>
</html>
