@{
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/presale.css")
    @Styles.Render("~/Content/gift.css")

    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/knockout")
</head>
<body>
    @RenderBody()
</body>
</html>
