@{
    var controller=ViewContext.RouteData.Values["controller"].ToString();
    var action=ViewContext.RouteData.Values["action"].ToString();
    bool isShowTab = true;
    if ((controller.ToLower() == "account" && action.ToLower() == "login") || (controller.ToLower() == "home" && action.ToLower() == "share"))
    {
        isShowTab = false;
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body style="background:#eee;">
@RenderBody()
    <div class="loading" id="loading" style="display:none"><img src="images/houtai/ajax-loaders/ajax-loader-4.gif"></div>
    @if (isShowTab)
    {
        <div class="bottom_float" id="bottom_Container">
            <ul class="clearfix">
                <li class="li1" id="tab1"><a href="@Url.Action("Default","Home",new {tab=1})"><span></span><p>购买</p></a></li>
                <li class="li2" id="tab2"><a href="@Url.Action("Wallet", "Home", new { tab = 2 })"><span></span><p>钱包</p></a></li>
                <li class="li3" id="tab3"><a href="@Url.Action("MyCenter", "Home", new { tab = 3 })"><span></span><p>我的</p></a></li>
            </ul>
        </div>
    }
    
@RenderSection("scripts", required: false)
<script type="text/javascript">
    $(function() {
        $bottomTab = $("#bottom_Container").find("ul>li");
        if ($bottomTab.length > 0) {
            var tabFlag = $.QueryString["tab"];
            if (tabFlag) {
                if (tabFlag==1) {
                    $("#tab" + tabFlag).addClass("active");
                }
                else if (tabFlag==2) {
                    $("#tab" + tabFlag).addClass("active_wallet");
                }
                else if(tabFlag==3)
                {
                    $("#tab" + tabFlag).addClass("active_my");
                }
                else {
                    $("#tab1").addClass("active");
                }
            } else {
                $("#tab1").addClass("active");
            }
        }
    });
</script>
</body>
</html>
