<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 羊客</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body>
@RenderBody()
    <div class="bottom_float">
        <ul class="clearfix">
            <li class="li1 active"><a href="@Url.Action("Default","Home")"><span></span><p>购买</p></a></li>
            <li class="li2"><a href="@Url.Action("Wallet", "Home")"><span></span><p>钱包</p></a></li>
            <li class="li3"><a href="@Url.Action("MyCenter","Home")"><span></span><p>我的</p></a></li>
        </ul>
    </div>
@RenderSection("scripts", required: false)
</body>
</html>
