@{
    Layout = "~/Views/Shared/_LayoutPreSale.cshtml";
    ViewBag.Title = "羊客商城";
}
@using DotNet.Common.Utility
@model List<DotNet.CloudFarm.Domain.Model.Product.PreSaleProduct>

<div class="layout layout_index">
    <!--头部S-->
    <section class="indexTop">
        <div class="process"><img src="/presaleimages/process.png" alt=""></div>
    </section>
    <!--头部E-->
    <!--商品列表S-->
    <section class="productList" data-bind="foreach:PreSaleProducts">
        <!--一个S-->
            <div class="productItem">
                <!--上面商品信息S-->
                <article class="productBox">
                    <div class="productPic">
                        <a data-bind="attr:{href:'@Url.Action("ConfirmPreSaleOrder","Home")'+'?productId='+ProductId}"><img src="" alt="" data-bind="attr:{src:'http://yk.kerchinsheep.com/presaleimages/'+Image}"></a>
                    </div>
                    <div class="productInfo">
                        
                            <h2><a data-bind="attr:{href:'@Url.Action("ConfirmPreSaleOrder","Home")'+'?productId='+ProductId}"><!--ko text:Name--><!--/ko--></a></h2>
                            <p class="salePrice">售价：<span class="orange">￥<strong><!--ko text:Price--><!--/ko--></strong></span></p>
                            <p class="referencePrice">市场参考价：￥<!--ko text:MarketPrice--><!--/ko--></p>
                            <p class="buyBtn">
                                <a data-bind="attr:{href:'@Url.Action("ConfirmPreSaleOrder","Home")'+'?productId='+ProductId}">立即购买</a>
                            </p>
</div>
                </article>
                <!--上面商品信息E-->
                <!--礼盒信息S-->
                <article class="liheBox" style="display: none" data-bind="attr:{id:'box_'+ProductId},foreach:{data:Details,as :'P'}">
                    <!--礼盒清单1S-->
                    <div class="liheItem">
                        <div class="productPic">
                            <img src="http://q3.qlogo.cn/g?b=qq&k=fRTVj0icCl13iaVWZIaeUpTA&s=100&t=1371164867" data-bind="attr:{src:P.Image}" alt="">
                        </div>
                        <div class="productInfo">
                            <h2 data-bind="text:P.Name"></h2>
                            <p>
                                <span>数量：<!--ko text:Count--><!--/ko--></span>
                                <span>重量：<!--ko text:Weight--><!--/ko--></span>
                            </p>
                        </div>
                    </div>
                    <!--礼盒清单1E-->
                </article>
                <!--礼盒信息E-->
                
                <!-- ko if: Details.length>=1 -->
                <h3 class="lihetxt" data-bind="attr:{data_id:ProductId}">点击查看礼盒</h3>
                <!--/ko-->
            </div>
        <!--一个E-->
    </section>
    <!--商品列表E-->
    <!--包装板块S-->
    <section class="package">
        <h2><img src="/presaleimages/packageTxt.png" alt="我们的包装"></h2>
        <!--包装样本S-->
        <ul class="packageSam">
            <li>
                <img src="/presaleimages/package1.png" alt="">
                <span>彩礼盒</span>
            </li>
            <li>
                <img src="/presaleimages/package2.png" alt="">
                <span>泡沫箱</span>
            </li>
            <li>
                <img src="/presaleimages/package3.png" alt="">
                <span>保鲜冰袋</span>
            </li>
            <li>
                <img src="/presaleimages/package4.png" alt="">
                <span>介绍</span>
            </li>
        </ul>
        <!--包装样本E-->
        <!--礼盒包装S-->
        <div class="packageWrap">
            <h2><img src="/presaleimages/wenyang.png" alt=""></h2>
            <p class="packagePic"><img src="/presaleimages/packagePic.jpg" alt=""></p>
        </div>
        <!--礼盒包装E-->
    </section>
    <!--包装板块E-->
    <!--物流S-->
    <section class="wuliu">
        <img src="/presaleimages/wuliu.png" alt="">
    </section>
    <!--物流E-->
    <!--关于我们S-->
    <section class="about">
        <span class="mobile"><img src="/presaleimages/mobile.png" alt=""></span>
        <span class="twoma"><img src="/presaleimages/twoma.jpg" alt=""></span>
    </section>
    <!--关于我们E-->
</div>
@*<script type="text/javascript" src="http://mat1.gtimg.com/www/mobi/js/zepto.min.js"></script>*@
<script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script type="text/javascript">
    var preSaleProducServiceJson=@Html.Raw(JsonHelper.ToJson(Model, "yyyy-MM-dd HH:mm:ss"));
    function PreSaleProductViewModel() {
        var self = this;

        //商品
        self.PreSaleProducts = ko.observableArray(preSaleProducServiceJson);
    }

    $(function() {
        var preSaleProductViewModel = new PreSaleProductViewModel();
        preSaleProductViewModel.PreSaleProducts(preSaleProducServiceJson);
        ko.applyBindings(preSaleProductViewModel);

        $(".lihetxt").on("click", function() {
            var self = $(this);
            var productId = self.attr("data_id");
            console.log($("#box_" + productId).is(':visible'));
            if (!$("#box_" + productId).is(':visible')) {
                $("#box_" + productId).slideToggle();
                self.text("收起");
            } else {
                $("#box_" + productId).slideToggle();
                self.text("点击查看礼盒");
            }
        });

        wx.config({
            debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
            appId: '@ViewData["AppId"]', // 必填，公众号的唯一标识
            timestamp: '@ViewData["Timestamp"]', // 必填，生成签名的时间戳
            nonceStr: '@ViewData["NonceStr"]', // 必填，生成签名的随机串
            signature: '@ViewData["Signature"]', // 必填，签名
            jsApiList: [
                'onMenuShareTimeline', // 必填，需要使用的JS接口列表，所有JS接口列表见附录2'checkJsApi',  //判断当前客户端版本是否支持指定JS接口
                'onMenuShareTimeline', //分享给好友
                'onMenuShareAppMessage', //分享到朋友圈
                'onMenuShareQQ', //分享到QQ
                'onMenuShareWeibo' //分享到微博
            ]
        }
);
        wx.ready(function() {
            // 2.2 监听“分享到朋友圈”按钮点击、自定义分享内容及分享结果接口
            //document.querySelector('#sharefriendgroup').onclick = function () {
            var title =  "天然放养走地羊肉礼盒立即订购——科尔沁羊业出品";
            var imgUrl = "http://yk.kerchinsheep.com/images/package1.png";
            var link = "http://yk.kerchinsheep.com/home/presaleproduct";
            wx.onMenuShareTimeline({
                title: '羊客商城', // 分享标题
                desc:title,
                link: link,
                imgUrl: imgUrl,
                trigger: function (res) {
                    //alert('用户点击分享到朋友圈');
                },
                success: function (res) {
                    //alert('已分享');
                },
                cancel: function (res) {
                    //alert('已取消');
                },
                fail: function (res) {
                    //alert(JSON.stringify(res));
                }
            });
            wx.onMenuShareAppMessage({
                title: '羊客商城', // 分享标题
                desc: title, // 分享描述
                link: link, // 分享链接
                imgUrl: imgUrl, // 分享图标
                type: 'link', // 分享类型,music、video或link，不填默认为link
                dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
                success: function () {
                    // 用户确认分享后执行的回调函数
                },
                cancel: function () {
                    // 用户取消分享后执行的回调函数
                }
            });
            wx.onMenuShareQQ({
                title: '羊客商城', // 分享标题
                desc: title, // 分享描述
                link: link, // 分享链接
                imgUrl: imgUrl, // 分享图标
                success: function () {
                    // 用户确认分享后执行的回调函数
                },
                cancel: function () {
                    // 用户取消分享后执行的回调函数
                }
            });
        });


        $.ajax({
            type: "POST",
            url: "/home/PageVisit",
            data:"source=presale",
            success: function (data) {
                console.log(data);
            }
        });
    });
</script>

