@using DotNet.CloudFarm.Domain.Model;
@using DotNet.CloudFarm.Domain.Model.Order
@using DotNet.CloudFarm.Domain.Model.User
@{
    Layout = "~/Views/Shared/_LayoutSendGift.cshtml";
    ViewBag.Title = "红包分享";
    //订单信息
    OrderModel orderModel = ViewBag.Order??new OrderModel();
    //赠送人信息
    UserModel UserInfo = ViewBag.UserInfo??new UserModel();
    //被赠送人信息
    UserModel SendUserInfo = ViewBag.SendUserInfo ?? new UserModel();
}

<div class="layout layout_giftShare">
    <section class="giftshare_head">
        <img class="giftshare_headbg" src="/images/giftshare_top.png" alt="">
        <img src="@UserInfo.WxHeadUrl" alt="图片头像" class="giftshare_headpic">
    </section>
    <section class="giftshare_name">@UserInfo.WxNickName（@UserInfo.Mobile）</section>
    <section class="giftshare_info">
        <span>@string.Format("在羊客送你了{0}只小羊", orderModel.ProductCount)</span>
        <span class="gift_price">总价值￥<strong>@(orderModel.ProductCount * orderModel.Price)</strong></span>
    </section>
    <section class="giftshare_txt">
        @orderModel.SendRemark
    </section>
    <section class="giftshare_btn"><a href="@Url.Action("OrderList", "Home", new {tab = 3})">去查看我的小羊</a></section>
    <section class="giftshare_bt"><img src="/images/giftshare_bt.jpg" alt=""></section>
</div>

@*<img src="@UserInfo.WxHeadUrl"/>
@UserInfo.WxNickName<br/>
@UserInfo.Mobile<br/>

@string.Format("在羊客送你了{0}只小羊，总价值￥{1}",orderModel.ProductCount,orderModel.ProductCount*orderModel.Price)
<a href="@orderModel.OrderId">去查看我的小羊</a>
<script type="text/javascript">

</script>*@